## IN THIS PROJECT WE CREATE CONTENT BASED RECOMMENDATION FOR MOVIE.
## USER GIVE ITS FAVORITE MOVIE AS INPUT THEN USER GET OUTPUT IN THE FROM OF MOVIES NAME. WHICH HIGHLY SIMILAR TO ITS FAVORITE MOVE

In [ ]:
import pandas as pd

In [8]:
credits=pd.read_csv("tmdb_5000_credits.csv")

In [9]:
credits.shape

(4803, 4)

In [10]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies=pd.read_csv("tmdb_5000_movies.csv")

In [12]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [13]:
print(credits.shape)
print(movies.shape)

(4803, 4)
(4803, 20)

In [14]:
credits=credits.rename(index=str ,columns={'movie_id':'id'})

In [15]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4803 non-null   int64
 1   title   4803 non-null   object
 2   cast    4803 non-null   object
 3   crew    4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 187.6+ KB

In [16]:
movies_credits_merge=movies.merge(credits,on='id')

In [17]:
movies_credits_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

In [18]:
movies_credits_clean=movies_credits_merge.drop(columns=['budget','genres','homepage','keywords','production_countries','release_date','revenue','runtime','spoken_languages','status','tagline','title_x','vote_average','title_y','crew'])

In [19]:
movies_credits_clean.head()

,id,original_language,original_title,overview,popularity,production_companies,vote_count,cast
0,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."
2,206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr..."
3,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba..."
4,49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."

In [20]:
movies_credits_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4803 non-null   int64
 1   original_language     4803 non-null   object
 2   original_title        4803 non-null   object
 3   overview              4800 non-null   object
 4   popularity            4803 non-null   float64
 5   production_companies  4803 non-null   object
 6   vote_count            4803 non-null   int64
 7   cast                  4803 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 337.7+ KB

In [21]:
movies_credits_clean.isnull().sum()

id                      0
original_language       0
original_title          0
overview                3
popularity              0
production_companies    0
vote_count              0
cast                    0
dtype: int64

In [22]:
movies_credits_clean['overview'].fillna('missing value',inplace=True)

In [23]:
movies_credits_clean.isnull().sum()

id                      0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
vote_count              0
cast                    0
dtype: int64

In [25]:
pd.set_option('display.max_colwidth', None)

In [26]:
movies_credits_clean['overview'].head(1)

0    In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.
Name: overview, dtype: object

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
tvf=TfidfVectorizer(analyzer='word',stop_words='english')

In [33]:
tfv_matrix=tvf.fit_transform(movies_credits_clean['overview'])

In [ ]:
print(tfv_matrix)

In [35]:
tfv_matrix.shape

(4803, 20978)

In [27]:
from sklearn.metrics.pairwise import linear_kernel

In [37]:
coline_similarities=linear_kernel(tfv_matrix,tfv_matrix)

In [40]:
indices=pd.Series(movies_credits_clean.index,index=movies_credits_clean['original_title'])

In [41]:
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [44]:
indices['Newlyweds']

4799

In [45]:
movie_title = movies_credits_clean['original_title']

In [46]:
movie_title

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: original_title, Length: 4803, dtype: object

In [48]:
movie_title[4799]

'Newlyweds'

In [50]:
def movie_recommend(original_title):
    idx = indices[original_title]
    sim_scores = list(enumerate(coline_similarities[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]   
    return movie_title.iloc[movie_indices]

In [52]:
movie_recommend('Signed, Sealed, Delivered')

4034                    Christmas Mail
1043                 Miss Congeniality
633                            Lincoln
2695            I Think I Love My Wife
4664                           Bronson
3069                     Danny Collins
1202                      Legal Eagles
1805    The Curse of the Jade Scorpion
3941                    Letters to God
1413                       Untraceable
3981               Griff the Invisible
2614                   The Love Letter
3045                      Office Space
3954                      Chain Letter
3745                    The Front Page
2557                The Great Debaters
2136        Team America: World Police
781                           Inkheart
3524                            [REC]²
1687                       Frost/Nixon
4533                  Drinking Buddies
46          X-Men: Days of Future Past
3912                      Next Day Air
4069                       Containment
2332                      Gosford Park
1311                        Angel Eyes
2767                     Birthday Girl
2677                        Good Deeds
4090                          Thirteen
3434    A Home at the End of the World
Name: original_title, dtype: object